.letter{
    font-size: 46px;
    color: white;
}

.animate{

    position: relative;
    transition:all 2s;
    animation: movedown 2s forwards;
}

@keyframes movedown{
    0%{
        transform: translateY(0);
    }100%{
        transform: translateY(10vh);
    }
}

#maintext{
    letter-spacing: 4px;
}