.letter{
    font-size: 46px;
    color: white;
}


@keyframes movedown{
    0%{
        transform: translateY(0);
    }100%{
        transform: translateY(10vh);
    }
}

#maintext{
    letter-spacing: 6px;
}

.alpha{
    letter-spacing: 18px;
}
p{
    font-size: 46px;

    letter-spacing: 19px;
    margin-top: 0px;
}