*{
    margin: 0;
    padding: 0;
}

.letter{
    font-size: 46px;
    color: white;
}


@keyframes movedown{
    0%{
        transform: translateY(0);
    }100%{
        transform: translateY(10vh);
    }
}

#maintext{
    letter-spacing: 6px;
}

.alpha{
    letter-spacing: 18px;
}

p{
    font-size: 46px;
    letter-spacing: 14px;
    margin-top: 0px;
}

#grid p, #topgrid p, #leftgrid p{
    font-size: 20px;
    letter-spacing: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}

#grid p:nth-child(odd), #leftgrid p:nth-child(odd), #topgrid p:nth-child(odd){
    background-color: #424353;
}

/* --------------------------------------------  */


#double-arrow {
    width: 5px;
    height: 50px;
    background-color: white;
    opacity: .2;
    position: absolute;
    margin-left: 10px;
    left: 0;
    top: 90px;
  }
#double-arrow:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-style: solid;
    transform: translate(-40%, -50%);
    border-width: 0 10px 20px 10px;
    border-color: transparent transparent white transparent;
}
#double-arrow:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: -7px;
    border-style: solid;
    transform: rotate(180deg);
    border-width: 0 10px 20px 10px;
    border-color: transparent transparent white transparent;
}